.container{
height: 300px;
width: 200px;
border: 2px solid black;
margin-left: 40px;
margin-top: 10px;
background-color: cornflowerblue;
box-shadow: 5px 5px 5px;
}
button{
    background-color: blue;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-left: 5px;
    border-radius: 15px;
    padding: 5px;
    border: none;


}