nav{
      height: 40px;
      width: 100%;
      background-color: aquamarine; 
      position: fixed;
      top: 0px;
      left: 0px;


}
a{
    font-size: 25px;
    font-weight: bolder;
    margin-left: 20px;
    color: white;
    text-decoration: none;

}